.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 12px;
  padding: 20px;
  border: none;
  width: 100%;
  outline-color: orange;
}
.header__searchBox{
  padding:7px;
  background-color: #cd9042;
  outline-color: orange;
}

.header__searchIcon {
  background-color: #cd9042;
}

.header__optionLineOne {
  font-size: 10px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
.header__openModal {
  cursor: pointer;
}
.header__search {
  position: relative;
}
.header__search > ul {
  background-color: white;
  width: 97.3%;
  list-style: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 33px;
  height:400px;
  overflow-y: scroll;
  /* bottom: -100px; */
}
.header__search > ul > li {
  background-color: white;
  width: 100%;
  /* border: 1px solid grey; */
  padding: 5px;
  cursor: pointer;
}
